.cards {
  padding: 0 60px 37px 60px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.cards__top {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 37px;
}
.cards__top-title {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards__top-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cards__back-button {
  width: 35px;
  height: 35px;
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.cards__back-button:hover {
  opacity: 1;
}

.cards__top-search {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 1px 8px 0 45px;
  position: relative;
  display: flex;
  align-items: center;
}

.cards__top-search-logo {
  position: absolute;
  top: 10px;
  left: 19px;
}

.cards__top-search-btn {
  padding: 1px 30px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  top: 9px;
  right: 19px;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.cards__top-search-btn:hover {
  opacity: 1;
}

.cards__top-search-arrow-btn {
  width: 32px;
  height: 32px;
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
}

.cards__top-search-arrow-btn-img {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.15s ease-in-out;
}

.cards__top-search-arrow-btn-img:hover {
  opacity: 1;
}

.cards__input {
  box-sizing: border-box;
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
}

.cards__input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
}

.cards__input:focus {
  outline: none !important;
  border-bottom: 1px solid #9dd558;
}
