.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  box-sizing: border-box;
}

.drawer__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.drawer__close {
  cursor: pointer;
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.cart__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.cart__item-img {
  height: 70px;
  width: 85px;
}

.cart__item-text {
  margin-right: 20px;
  flex: 1;
}

.cart__item-name {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px;
}

.cart__price {
  font-size: 14px;
}

.remove-button {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
}
.remove-button:hover {
  opacity: 1;
}

.cart__total {
  width: 325px;
}

.cart__total-list {
  display: block;
  margin-bottom: 40px !important;
  padding: 0;
}

.cart__total-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.cart__total-line {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}

.items__empty {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.items__empty-img {
  margin: 0 0 21px 0;
  height: 120px;
}

.items__empty-title {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 10px 0;
}

.items__empty-subtitle {
  color: #000;
  opacity: 0.4;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 265px;
  margin: 0 0 40px 0;
}

.green-button {
  position: relative;
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.green-button:hover {
  background: #abe465;
}

.green-button:active {
  background: #93c852;
}

.green-button__image {
  transform: translateX(5px);
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}

.green-button_type-back > img {
  transform: rotate(180deg);
  left: 30px;
  top: 20px;
}
